.content_table,td {
    border: 1px solid black;
  }
.content_table{
    border-collapse: collapse;
    text-align: center;
    width: 500px;
}
.content_table tbody td:nth-child(even){
    background-color: rgba(14, 18, 19, 0.295);
}
.content_table tbody td:nth-child(odd){
    background-color: rgb(106, 248, 12);
}